.pagination {
  display: flex;
  gap: 0 10px;
  align-items: center;

  .btn-pagination {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    border: 1px solid #ac1bac;
    border-radius: 5px;
    font-size: 16px;
    color: #ac1bac;
    &.active {
      background: #ac1bac8c;
      color: white;
    }
  }
}

@media (max-width: 767px) {
  .pagination {
    gap: 0 5px;
    margin-bottom: 50px;
    .btn-pagination {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
  }
}
