.search-form {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 50px;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
  height: 80px;
  z-index: 100;

  .btn-bar {
    font-size: 30px;
    color: purple;
    cursor: pointer;
    display: none;
  }
  .btn-dark-mode {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0 10px;
    &.active {
      svg {
        color: white;
      }
      .button {
        border: 3px solid white;
        background: #615b5b;
        &::before {
          left: 20px;
          background: white;
        }
      }
    }
    svg {
      color: #615b5b;
      font-size: 30px;
      transition: 0.3s;
    }
    .button {
      width: 40px;
      height: 20px;
      background: whitesmoke;
      border-radius: 50px;
      border: 3px solid #615b5b;
      position: relative;
      display: flex;
      align-items: center;
      transition: 0.3s;
      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #615b5b;
        left: 2px;
        transition: 0.3s;
      }
    }
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 200px);
    height: calc(100% - 30px);
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid rgb(247, 70, 253);
    background: linear-gradient(to right, #ff00f78c, #39c8ff99);

    input {
      width: 100%;
      height: 100%;
      outline: none;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      color: white;
      background: none;
      &::placeholder {
        color: white;
      }
    }

    .btn-search {
      position: absolute;
      right: 5px;
      font-size: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgb(247, 70, 253);
      color: white;
      cursor: pointer;
      border: none;
    }
  }
}
