@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.nav-cover {
  width: 20%;
  position: sticky;
  z-index: 500;
  height: 100vh;
  top: 0;
  left: 0;
}
.nav {
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
  width: 100%;
  background: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  justify-content: center;
  animation: animate 10s infinite ease-in-out;
  flex-shrink: 0;
  z-index: 505;
  &__link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .link {
      position: relative;
      cursor: pointer;
      margin: 5px 0;
      transition: 0.3s;
      border-radius: 5px;
      width: 100%;
      display: flex;
      &.active {
        background: rgb(172, 27, 172);
        &:hover {
          background: rgb(172, 27, 172);
        }
        a {
          color: white;
        }
      }
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      svg {
        font-size: 20px;
        margin-right: 10px;
      }
      a {
        width: 100%;
        font-size: 18px;
        color: rgb(172, 27, 172);
        padding: 15px 20px 15px 10px;
        transition: 0.3s;
      }
    }
    .sub-nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: hidden;
      transition: 0.5s;
      cursor: pointer;
      height: 0;
      transition: 0.5s;
      overflow: hidden;
      &.active {
        height: 150px;
      }
      .sub-link {
        position: relative;
        background: rgba(0, 0, 0, 0.05);
        padding: 10px 15px;
        color: rgb(172, 27, 172);
        border-radius: 5px;
        margin: 3px 0;
        &:hover {
          background: rgba(128, 0, 128, 0.3);
        }
        &.active {
          background: rgba(128, 0, 128, 0.5);
          color: white;
        }
      }
    }
  }
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px) {
  .nav-cover {
    position: fixed;
    width: 100%;
    left: -100%;
    &.active {
      left: 0;
    }
    .nav {
      position: fixed;
      width: 60%;
      left: -100%;
      transition: 0.5s;

      &.active {
        left: 0;
      }

      &__link {
        justify-content: flex-start;
        padding-top: 50px;
        .link {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
