.control {
  display: flex;
  gap: 0 20px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 200px;

  .btn-play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ac1bac;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ac1bac;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: #ac1bac;
      color: white;
    }
  }
  .btn-prev,
  .btn-next {
    cursor: pointer;
    color: #ac1bac;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    &:hover {
      background: #ac1bac34;
    }
  }
}
