.home {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px;
  }

  .intro {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 70px;
      font-weight: bold;
      color: #2e2e7c;
      margin-bottom: 10px;
      letter-spacing: 3px;
      span {
        color: #8c2ab4bd;
        font-family: sans-serif;
      }
    }
    .dsc {
      font-size: 30px;
      margin-left: 20px;
      color: #8c2ab4bd;
      margin-bottom: 30px;
    }
    .lorem {
      font-size: 18px;
      margin-left: 20px;
      color: gray;
    }
  }

  .top-songs {
    width: 100%;
    .list-songs {
      .link {
        .song {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home {
    width: 100%;
    .container {
      padding: 30px;
      .intro {
        h1 {
          font-size: 45px;
          letter-spacing: 2px;
        }

        .dsc {
          margin-left: 0;
          margin-bottom: 20px;
          font-size: 16px;
        }

        .lorem {
          margin-left: 0;
          font-size: 14px;
        }
      }
    }
  }
}
