.search-page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    .box {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.1);
      padding: 30px;
      gap: 50px 0;

      h2 {
        font-size: 35px;
        color: #1a0080;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 10%;
          height: 5px;
          border-radius: 10px;
          background: #b01ba5;
          bottom: -10px;
          left: 0;
        }
        span {
          color: hotpink;
        }
      }

      .list-result {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        width: 100%;
        position: relative;

        .song {
          $img-size: 80px;
          position: relative;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          width: 100%;
          transition: 0.3s;
          padding: 10px;
          &:hover {
            border-radius: 5px;
            background: #ed8efa1f;
            .main {
              .song-img::after {
                background: rgba(0, 0, 0, 0.4);
              }
            }
            .play-btn {
              svg {
                opacity: 1;
              }
            }
          }
          &.active {
            background: #ed8efa4a;
            border-radius: 10px;
            .play-btn {
              svg {
                display: none;
              }
              .playing-animation {
                display: flex;
              }
            }
            .rotate-animation {
              display: flex;
            }
          }
          .main {
            position: relative;
            display: flex;
            width: 100%;
            gap: 0 20px;
            flex-direction: row;
          }
          .play-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 40px;
            top: 50%;
            transform: translateY(-50%);
            svg {
              font-size: 30px;
              color: rgb(225, 154, 240);
              opacity: 0;
              transition: 0.5s;
              cursor: pointer;
            }
          }

          .rotate-animation {
            display: flex;
            align-items: center;
            display: none;
            svg {
              font-size: 40px;
              color: rgb(108, 61, 117);
              animation: rotate 1s infinite linear;
            }
          }

          &-img {
            width: $img-size;
            height: $img-size;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              transition: 0.3s;
            }
            img {
              width: 100%;
              height: 100%;
              position: absolute;
              object-fit: cover;
            }
          }
          .detail {
            display: flex;
            flex-direction: column;
            gap: 0;
            width: calc(100% - (#{$img-size} + 20px));
            .song-name {
              font-size: 20px;
              color: #1a0080;
            }
            .singer {
              font-size: 16px;
              color: gray;
            }
          }
        }
      }

      .not-found {
        width: 100%;
        height: 700px;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .search-page {
    .container {
      padding: 0;
      .box {
        gap: 20px 0;
        padding: 30px 30px 80px 30px;
        h2 {
          font-size: 26px;
          &::after {
            width: 30%;
            height: 3px;
            bottom: -5px;
          }
        }
        .list-result {
          gap: 10px 0;
          .song {
            border: none;
            padding: 0;
            width: 100%;
            &.active {
              border-radius: 5px;
            }
            .main {
              gap: 0 10px;

              .song-img {
                width: 65px;
                height: 65px;
              }

              .detail {
                .song-name {
                  font-size: 16px;
                }
                .singer {
                  font-size: 12px;
                }
              }
            }

            .play-btn {
              left: 25px;
              svg {
                opacity: 0.5;
              }
            }

            .rotate-animation {
              svg {
                font-size: 30px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
