.list-songs-page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 50px 150px 50px;
    gap: 0 50px;
    .left-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      top: 100px;
      height: auto;
      gap: 20px 0;
      h2 {
        font-size: 36px;
        color: #1a0080;
        font-weight: 800;
      }
      .title-img {
        width: 320px;
        height: 320px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
      .playing-animation {
        position: absolute;
        display: none;
        gap: 0 5px;
        transform: translateY(-50%);
        align-items: flex-end;
        .play {
          width: 8px;
          height: 0;
          background: white;
          animation: updown 0.5s infinite linear alternate;
          &:nth-child(2) {
            animation-delay: 0.5s;
          }
          &:nth-child(3) {
            animation-delay: 0.75s;
          }
          &:nth-child(4) {
            animation-delay: 0.25s;
          }
        }
        @keyframes updown {
          0% {
            height: 0px;
          }
          100% {
            height: 40px;
          }
        }
      }
    }

    .box {
      position: relative;
      width: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px 0;
    }
  }
}

@media (max-width: 767px) {
  .list-songs-page {
    .container {
      flex-direction: column;
      padding: 30px;
      gap: 30px 0;
      .left-side {
        position: relative;
        top: 0;
        gap: 10px 0;
        height: auto;

        h2 {
          font-size: 26px;
        }
        .title-img {
          width: 250px;
          height: 250px;
        }
      }
      .box {
        gap: 20px 0;
      }
    }
  }
}
