.list-songs-page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 50px 150px 50px;
    gap: 0 50px;
    .left-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      top: 100px;
      height: 250px;
      gap: 20px 0;
      h2 {
        font-size: 36px;
        color: #1a0080;
        font-weight: 800;
      }
      .img {
        width: 320px;
        height: 320px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          .title-img::after {
            background: rgba(0, 0, 0, 0.5);
          }
        }
      }
      .title-img {
        width: 320px;
        height: 320px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: none;
          transition: 0.3s;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
      .song-img {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .box {
      position: relative;
      width: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px 0;
      background: white;
    }
  }
}
