@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
}
button,
input[type="submit"] {
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.loader-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
